---
layout: default
title: Team
suppress_header: true
extra_css:
  - team.css
team_members:
- name: Dmitriy Zaporozhets
  role: co-founder, CTO
  twitter: dzaporozhets
  gitlab: dzaporozhets
  picture: picture_dmitriy.png
  maintains: |
              <li>Maintainer of <a href="https://gitlab.com/gitlab-org/gitlab-ce/">GitLab CE</a></li>
              <li>Maintainer of <a href="https://gitlab.com/gitlab-org/gitlab-ee/">GitLab EE</a></li>
  story:  |
          Dmitriy started GitLab in september 2011 and has released it every month on the 22nd since then.
          He wanted to make a great and free project management system that he could use every day.
          He loved to work on GitLab so much that in January of 2013 he began to work on GitLab fulltime.
          When he has time he loves to code a major new GitLab feature in two days.
          He loves a good Martini and a merge request that can be accepted without comments.
          He is the lead author of GitLab CE and CI.

- name: Sytse 'Sid' Sijbrandij
  role: co-founder, CEO
  twitter: sytses
  gitlab: sytses
  picture: picture_sytse.png
  story:  |
          Sytse saw the first ruby code in 2007 and loved it so much he dove head first into programming.
          Before that he was engaged in business administration roles and combining that with software development is his passion.
          He is always looking to make a template out of something or to automate a process.
          His team members suspect he has todo list and reminders for everything, including breakfast and getting his hair cut.
          He loves a good beer and organizing a trip to a conference.
          He is part of the GitLab core-team.

- name: Marin Jankovski
  role: developer
  picture: picture_marin.jpg
  twitter: maxlazio
  gitlab: marin
  maintains:  |
              <li>Maintainer of <a href="https://gitlab.com/gitlab-org/omnibus-gitlab/">Omnibus GitLab</a></li>
              <li>Maintainer of <a href="https://gitlab.com/gitlab-org/cookbook-omnibus-gitlab/">Cookbook Omnibus GitLab</a></li>
  story:  |
          Marin loves to develop in Rails but has also grown an interest in operations, specifically Amazon Web Services and Opscode Chef.
          He is part of the GitLab core-team.
          When video conferencing with him you get a cat running accross the room as a bonus.
          He is notorious for starting early in the morning just after breakfast and not having lunch until his workday is over.
          You would expect him to be hungry and grumpy the last few hours but as long as his internet connection is up he is always friendly and upbeat.
          He loves travelling and talking about politics.

- name: Jacob Vosmaer
  role: senior service engineer
  picture: picture_jacob.png
  twitter: jacobvosmaer
  gitlab: jacobvosmaer
  maintains:  |
              <li>Maintainer of <a href="https://dev.gitlab.org/cookbooks/chef-repo/">Chef Repo</a> (internal)</li>
  story:  |
          Jacob became a professional software developer in 2012 after a brief academic career which included obtaining a PhD in mathematics.
          Motivated by his own experiences switching careers he has been helping others do the same, for instance by coaching at RailsGirls events.
          Today he is excited to be working on open source software and helping organisations around the world collaborate better using Git and GitLab.
          He is part of the GitLab core-team.

- name: Job van der Voort
  role: product manager
  picture: picture_job.jpg
  twitter: Jobvo
  gitlab: JobV
  maintains:  |
              <li>Maintainer of <a href="https://gitlab.com/gitlab-com/doc-gitlab-com">doc-gitlab-com</a></li>
              <li>Maintainer of <a href="https://gitlab.com/gitlab-com/www-gitlab-com">about-gitlab-com</a></li>
  story:  |
          Job became deeply passionate for software engineering while working in neuroscience and becoming increasingly frustrated with the lack of version control in science.
          At the end of 2012 he decided to make the jump and start to work as a software developer fulltime.
          He's very excited to be back in a lab that is all about version control and beautiful code.
          Besides code, Job has an obsession for design and entrepreneurship and loves to play games of any kind.

- name: Haydn Mackay
  role: major accounts manager
  picture: picture_haydn.png
  twitter: haydnmackay
  gitlab: Haydn
  story:  |
          Over the past 10 years, Haydn worked for a California based ISV assisting large, distributed development teams to select and get the most out of a series of collaboration tools.
          During his second year, the company sent him back to his homeland of Australia to open a Sydney office where he developed a keen interest in team workflows and later returned to California to work exclusively with global accounts transitioning to Agile.
          When not working or taking care of his two young kids, Haydn enjoys cycling (of any kind), snow sports and the many tasty microbrews from the area.

- name: Valery Sizov
  role: developer
  picture: picture_vsizov.png
  twitter: Sizov_Valeriy
  gitlab: vsizov

  story:  |
          I started the GitLab project together with Dmitriy 3 years ago. Today, we are together again :) I like Ruby, UNIX, git and other cool technologies.
          I have a very strong desire to improve the world by making all things easier.

- name: Patricio Cano
  role: service engineer
  picture: picture_patricio.png
  twitter: suprnova32
  gitlab: patricio
  story:  |
          Patricio is from Quito, Ecuador and he studied Computer Science in Stuttgart, Germany, where he lived for 7 years.
          He is very passionate about open source software and has been working with Ruby on Rails for the past 3 years. He also likes
          to swim, play video games and spend time with his family and friends.

- name: Douwe Maan
  role: developer
  picture: picture_douwe.png
  twitter: DouweM
  gitlab: DouweM
  maintains:  |
              <li>Maintainer of <a href="https://dev.gitlab.org/gitlab/license-app">license-app</a> (internal)</li>
              <li>Maintainer of <a href="https://dev.gitlab.org/gitlab/gitlab-license">gitlab-license</a> (internal)</li>
  story:  |
          Douwe caught the programming virus at the age of 9, got his first freelance job 2 years later, and has spent the years that followed gaining experience with a wide range of technologies&mdash;both by himself and as lead developer at two startups.
          Some 3 years ago, he found Ruby and fell in love with the language and the open-source community surrounding it, making him a perfect fit for GitLab.
          Always looking for a challenge, he combines shaping the future of version control with completing his Computer Science studies at Utrecht University in the Netherlands.

- name: Karen Carias
  role: community support
  picture: karen.jpg
  twitter: MyVineste
  gitlab: karengc
  story:  |
          Karen has a degree in Marketing and used to work in the corporate world. After a few years, she decided that she needed a change and left her hometown in Guatemala to start traveling around the world. She studied wines and practices yoga regularly.
          Her trips and network in Latam and the Bay Area made her passionate about technology. She loves interacting with people and social media. She also has a blog about the dogs and cats that she meets in every place where she goes.

- name: Sylvia Kahn
  role: business office manager
  picture: sylvia.jpg
  twitter: KahnSylvia
  gitlab: sylvia
  story:  |
          Sylvia has a background in education as both a classroom teacher and program manager. Needing a change and enjoying the pace at which the tech industry moves, she now uses
          her people skills and tenacity to get things done around Gitlab. She loves to work with people from all over the world which makes this company ideal! When not at work, you
          can find her trying to grab as much time as possible with her friends and family, hopefully traveling and definitely eating something great.

- name: Darby Schumacher
  role: interaction engineer intern
  picture: darby.jpg
  twitter: darbsies
  gitlab: darby
  story:  |
          Growing up as a digital native, Darby has always been interested in technology. She loves designing innovative features and focusing on making the user's experience the best it can be.
          She is interning with us during her summer break from Stanford University, where she studies computer science and product design.  Darby grew up in Tennessee, but now calls the Bay Area home.
          When she isn't working, she likes to explore the beautiful city of San Francisco, ride her bike, practice yoga, and experiment in the kitchen. She hopes to one day be Miss America and spend her life designing awesome products.

- name: Kamil Trzciński
  role: developer
  picture: kamil.jpg
  twitter: ayufanpl
  gitlab: ayufan
  maintains:  |
              <li>Maintainer of <a href="https://gitlab.com/gitlab-org/gitlab-ci/">GitLab CI</a></li>
              <li>Maintainer of <a href="https://gitlab.com/gitlab-org/gitlab-ci-multi-runner">GitLab Runner</a></li>
  story:  |
          Kamil is a low-level programming enthusiast with years of experience in building apps for all platforms. He is also a security, virtualization and graphics expert with a variety of programming languages in his toolkit together with deep operating systems architecture knowledge.
          He's focusing lately on security principles of mobile platforms and the "container revolution". In his spare time he likes to run, cycle and play good games, although not all at the same time.

- name: Josh Wrede
  role: accounts manager
  picture: josh.jpg
  twitter: wredej
  gitlab: jwrede
  story:  |
          Josh has been working in technology for the past 5 years including sales roles at Stack Overflow, Venture360, and Innovation Pavilion.  His passion for the tech space and following the latest in innovation makes him love his job.  Aside from working at GitLab, Josh is an avid sports fan and former hockey player.
          He is a Colorado native so he loves being outdoors and is excited to explore everything San Francisco has to offer.

- name: Richard Pidgeon
  role: sales director EMEA
  picture: richard.jpg
  twitter: catchthepidge
  gitlab: rpidgeon
  story:  |
          Based in the UK, Richard has led various sales teams in the mobile development space, including the EMEA Sales team at Distimo resulting in the acquisition by App Annie in 2014. He has spent over 15 years working in the mobile sales ecosystem, gaining the majority of his experience at Vodafone and Nokia.
          Richard enjoys most sports and the ones that he can no longer play he follows avidly especially Rugby. He enjoys playing Golf and Cycling but time is difficult to find with family and dog commitments.

- name: Philip Camillo
  role: accounts manager
  picture: phil.jpg
  twitter: pmanjr311
  gitlab: philcamillo
  story:  |
          Phil has been in tech sales for over 5 years and has worked with early stage startups to more established tech companies. Over the past few years he has led a team of sales reps at Stack Overflow while surpassing annual revenue targets. Phil is working remotely out of Denver and enjoys snowboarding, golfing and loves to play the guitar.

- name: Robert Speicher
  role: developer
  picture: rspeicher.jpg
  twitter: rspeicher
  gitlab: rspeicher
  story:  |
          Before joining GitLab the company in 2015, Robert was
          already an active member of the GitLab community beginning in 2012,
          contributing <a href="http://contributors.gitlab.com/contributors/robert-speicher/commits">changes both big and small</a>
          to the open source project. His passion is using code to improve
          peoples' lives in any way.

- name: You?
  role: employee
  picture: logo-extra-whitespace.png
  twitter: gitlab
  story:  |
          Want to see your name and picture here? Check out our latest <a href="http://about.gitlab.com/jobs/">job openings!</a>
---

<div class="wrapper">
  <div class="container">
    <div class="team-head">
      <h1>MEET OUR <b>TEAM</b></h1>
      <p>
        To offer the best possible services, our team has a deep expertise in GitLab in all of its aspects.
        The GitLab Inc. team consists of the following individuals.
      </p>
    </div>

    <div class="row">
      {% for member in page.team_members %}
        <div class="col-sm-4 ">
          <div class="member">
            <img src="../images/team/{{member.picture}}" alt="gitlab.com" width="200" height="200">
            <h3>{{member.name}}</h3>
            <h4>{{member.role}}</h4>
            <div class="social">
              {% if member.twitter %}
                <a href="https://twitter.com/{{member.twitter}}">Twitter</a>
              {% endif %}
              {% if member.gitlab %}
                <a href="https://gitlab.com/u/{{member.gitlab}}">GitLab</a>
              {% endif %}
            </div>
            <ul>
              {{member.maintains}}
            </ul>
            <p>
              {{member.story}}
            </p>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>